/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/zmk/matrix_transform.h>

/* blade-specific: common settings */ 
/ {

	chosen: chosen {
		zmk,kscan = &kscan;
		zmk,matrix_transform = &default_transform;
	};

/* global matrix transform */
	default_transform: keymap_transform_0 {
		compatible = "zmk,matrix-transform";
		columns = <10>;
		rows = <5>;
		map = <
RC(0,0) RC(0,1) RC(0,2) RC(0,3) RC(0,4)  RC(0,5) RC(0,6) RC(0,7) RC(0,8) RC(0,9)
RC(1,0) RC(1,1) RC(1,2) RC(1,3) RC(1,4)  RC(1,5) RC(1,6) RC(1,7) RC(1,8) RC(1,9)
RC(2,0) RC(2,1) RC(2,2) RC(2,3) RC(2,4)  RC(2,5) RC(2,6) RC(2,7) RC(2,8) RC(2,9)
RC(3,0) RC(3,1) RC(3,2) RC(3,3) RC(3,4)  RC(3,5) RC(3,6) RC(3,7) RC(3,8) RC(3,9)
                                         RC(4,5) RC(4,6) RC(4,7)
		>;

	};

  /* Scan matrix declaration */
	kscan: kscan {
		compatible = "zmk,kscan-composite";
		label = "KSCAN";
		rows = <5>;
		columns = <10>;

    /* There is a key matrix by default */
		normal_keys {
			kscan = <&kscan0>;
		};
	};

  /* Configure sliders (both split can have a slider) */
	sliders {
		compatible = "zmk,keymap-sliders";
		sliders = <&slider_left &slider_right>;
	};

  /* Configure trackballs (either split can have the trackball) */
	trackballs {
		compatible = "zmk,keymap-trackballs";
		trackballs = <&trackball>;
	};

  /* Configure encoders (both splits can have a encoder) */
	sensors {
		compatible = "zmk,keymap-sensors";
		sensors = <&encoder_left &encoder_right>;
	};
  
  // define the two encoders
	encoder_left: encoder_left {
		compatible = "alps,ec11";
    status = "disabled";
		label = "LEFT_ENCODER";
		resolution = <2>;
	};

	encoder_right: encoder_right {
		compatible = "alps,ec11";
    status = "disabled";
		label = "RIGHT_ENCODER";
    resolution = <2>;
	};
};

/* Declare the two sliders */
&i2c0 {
  compatible = "nordic,nrf-twi";
  status = "okay";

  slider_left: slider_left@28 {
	  compatible = "zmk,kscan-cap1203";
	  label = "SLIDER_LEFT";
    status = "disabled";
    reg = <0x28>;
  };

  slider_right: slider_right@28 {
	  compatible = "zmk,kscan-cap1203";
	  label = "SLIDER_RIGHT";
    status = "disabled";
    reg = <0x28>;
  };

};

/* Declare the trackball */
&spi2 {
  compatible = "nordic,nrf-spim";

  trackball: trackball@0 {
    compatible = "pixart,pmw3610";
    status = "disabled";
    reg = <0>;
    label = "TRACKBALL";
    spi-max-frequency = <2000000>;
    duplex = <2048>; // required by 3-wire spi
  };
};
