# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

rsource "battery/Kconfig"
rsource "ec11/Kconfig"

rsource "cirque_trackpad/Kconfig"
rsource "pmw33xx/Kconfig"
rsource "pixart/pmw3360/Kconfig"
rsource "pixart/paw3395/Kconfig"
rsource "pixart/pmw3610/Kconfig"
